@mixin flex($align,$justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
} 

@mixin media($width){
    @media screen and (max-width: #{$width}px) {
       @content        
    }
}

@mixin media-min($width){
    @media screen and (min-width: #{$width}px) {
       @content        
    }
}

$maxwidth:1920;
$maxWidthContainer:1110;
@mixin adaptive-value($property,$startSize,$minSize){
    $addSize:$startSize - $minSize;
    #{$property}:$startSize + px;
    @include media($maxWidthContainer){
        #{$property}: calc(
           #{$minSize + px} + #{$addSize} * ((100vw - 32px) / #{$maxWidthContainer - 320}));
    }
}   