
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color-scheme: inherit;
}
button{
    cursor: pointer;
}
ol,ul,li{
    list-style: none;
}
html,body{
    height: 100%;
}